TravelGoodClient/xml-resources/web-service-references/casaPort1/wsdl/TankzNewDesktop_9080/TravelGoodCA-sun-http-binding/TravelGoodBPEL/NiceViewData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:tns="http://NiceView.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://NiceView.com/" version="1.0">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="LDFastMoneyData.xsd"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="bookHotel" type="tns:bookHotel"/>

<xs:element name="bookHotelResponse" type="tns:bookHotelResponse"/>

<xs:element name="cancelHotel" type="tns:cancelHotel"/>

<xs:element name="cancelHotelResponse" type="tns:cancelHotelResponse"/>

<xs:element name="getHotels" type="tns:getHotels"/>

<xs:element name="getHotelsResponse" type="tns:getHotelsResponse"/>

<xs:complexType name="bookHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element minOccurs="0" name="creditcard" type="ns1:creditCardInfoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotelResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotelResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotels">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="arrival" type="xs:dateTime"/>
<xs:element minOccurs="0" name="departure" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:hotelReservation"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelReservation">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element minOccurs="0" name="hotel" type="tns:hotel"/>
<xs:element minOccurs="0" name="timePeriod" type="tns:dateRange"/>
<xs:element minOccurs="0" name="creditCardInfoType" type="ns1:creditCardInfoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element minOccurs="0" name="address" type="xs:string"/>
<xs:element name="creditcard" type="xs:boolean"/>
<xs:element minOccurs="0" name="hotelReservationService" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateRange">
<xs:sequence>
<xs:element minOccurs="0" name="end" type="xs:dateTime"/>
<xs:element minOccurs="0" name="start" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
