TravelGoodCA/src/jbiServiceUnits/TravelGoodBPEL/NiceViewData.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://NiceView.com/" xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://NiceView.com/">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="LDFastMoneyData.xsd"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="bookHotel" type="tns:bookHotel"/>

<xs:element name="bookHotelResponse" type="tns:bookHotelResponse"/>

<xs:element name="cancelHotel" type="tns:cancelHotel"/>

<xs:element name="cancelHotelResponse" type="tns:cancelHotelResponse"/>

<xs:element name="getHotels" type="tns:getHotels"/>

<xs:element name="getHotelsResponse" type="tns:getHotelsResponse"/>

<xs:complexType name="bookHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="creditcard" type="ns1:creditCardInfoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotel">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotels">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="arrival" type="xs:dateTime" minOccurs="0"/>
<xs:element name="departure" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hotelReservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelReservation">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="hotel" type="tns:hotel" minOccurs="0"/>
<xs:element name="timePeriod" type="tns:dateRange" minOccurs="0"/>
<xs:element name="creditCardInfoType" type="ns1:creditCardInfoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="creditcard" type="xs:boolean"/>
<xs:element name="hotelReservationService" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateRange">
<xs:sequence>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>