TravelGoodCA/src/jbiServiceUnits/META-INF/TravelGoodBPEL/src/_references/_relative/nbproject/private/retriever/localhost_8080/LameDuck/MainWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MMMNGG.dtu.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MMMNGG.dtu.com/" name="MainWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/MainWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/MainWebService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://MMMNGG.dtu.com/" schemaLocation="http://localhost:8080/LameDuck/MainWebService?xsd=3"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlights">
<part name="parameters" element="tns:bookFlights"/>
</message>
<message name="bookFlightsResponse">
<part name="parameters" element="tns:bookFlightsResponse"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<message name="cancelFlights">
<part name="parameters" element="tns:cancelFlights"/>
</message>
<message name="cancelFlightsResponse">
<part name="parameters" element="tns:cancelFlightsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="LameDuckWebService">
<operation name="getFlights">
<input wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlights">
<input wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/bookFlightsRequest" message="tns:bookFlights"/>
<output wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/bookFlightsResponse" message="tns:bookFlightsResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/bookFlights/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="cancelFlights">
<input wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/cancelFlightsRequest" message="tns:cancelFlights"/>
<output wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/cancelFlightsResponse" message="tns:cancelFlightsResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/cancelFlights/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="hello">
<input wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://MMMNGG.dtu.com/LameDuckWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="LameDuckWebServicePortBinding" type="tns:LameDuckWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="cancelFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MainWebService">
<port name="LameDuckWebServicePort" binding="tns:LameDuckWebServicePortBinding">
<soap:address location="http://localhost:8080/LameDuck/MainWebService"/>
</port>
</service>
</definitions>